// backgroundlight
$main:#00337C;
$body:#E9EDC9;
$third:#E8F3D6;
// background dark
// $main-dark:;
$body-dark:#034a69;
$third-dark:#5B8FB9;
// text color
$text:#eeecdc;
$text-s:#202027;
$text-brand:#282065;


.app{
 background-color:#E9EDC9;
 box-sizing: border-box;
}